body {
    font-size: 2vw;
    color: yellow;
}

td {
    padding: 1vw;
    padding-left: 2vw;
}

.mainpic {
    position: absolute;
    left: 155vw;
}

.button-style {
    display: inline-block;
    padding: 0,5vw 15vw;
    background: #000dfb;
    border: 0,1vw solid #00fff7ff;
    color: yellow;
    text-decoration: none;
    text-align: center;
}

.button-style:hover, .button-style:focus {
    background: #ff0000;
}
